{  
  "parser": "@typescript-eslint/parser",  
  "parserOptions": {  
    "ecmaFeatures": {  
      "jsx": true  
    },  
    "ecmaVersion": 2021,  
    "sourceType": "module"  
  },  
  "extends": [  
    "react-app", 
    "react-app/jest", 
    "plugin:prettier/recommended", 
    "prettier"
  ],  
  "globals": {  
    "JSX": "readonly"  
  },  
  "plugins": [ 
    "import", 
    "prettier" 
  ],  
  "rules": {  
    "no-shadow": "off",  
    "comma-dangle": "off",  
    "@typescript-eslint/no-unused-vars": "warn",  
    "@typescript-eslint/no-shadow": ["error"],  
    "react-hooks/exhaustive-deps": "off",  
    "react-native/no-inline-styles": "off",  
    "import/order": [  
      "error",  
      {  
        "groups": [  
          "builtin",  
          "external",  
          "internal"  
        ],  
        "pathGroups": [  
          {  
            "pattern": "react",  
            "group": "external",  
            "position": "before"  
          }  
        ],  
        "pathGroupsExcludedImportTypes": [  
          "react"  
        ],  
        "newlines-between": "always",  
        "alphabetize": {  
          "order": "asc",  
          "caseInsensitive": true  
        }  
      }  
    ], 
    "prettier/prettier": [   
      "error",   
      { 
        "trailingComma": "es5",   
        "singleQuote": true,   
        "printWidth": 80,   
        "tabWidth": 2,   
        "endOfLine": "lf"   
      } 
    ] 
  },  
  "settings": {  
    "react": {  
      "version": "detect"  
    }  
  }  
}